<div>
  <profile-search
  (searchData) ="onSearch($event)"
  (sort)="Sort($event)"
  ></profile-search>
</div>
<div>
  <profile-view
  [profile]="profile$"
  (searchRepo)="onRepoSearch($event)"
  (pagingKey)="updatePaging($event)"
  [profileRepo]="profileRepo$"
  [sortArray]="sortArray"
  [PaginatedArray]="PaginatedArray"
  [PaginatedsortArray]="PaginatedsortArray"
  [sorttoggle]="_sorttoggle"
  [start]="_start"
  [end]="_end"
  [repoDetails]="repoDetails"
  [showNext]="_showNext"
  [showPrevious]="_showPrevious"
  ></profile-view>
</div>


