
<!-- <div class="input-group mb-3">
  <input type="text" class="form-control"
   [(ngModel)]="searchValue"
   >
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" 
     type="button" id="button-addon2"
     (click)="onSearch()">
     Button
    </button>
  </div>
</div> -->
<nav class="navbar navbar-light navbarBG">
  <div ngbDropdown  class="nav-item dropdown dropdown-modify">
    <a ngbDropdownToggle class="nav-link dropdown-toggle" 
    id="dropdown01" 
    data-toggle="dropdown" 
    aria-haspopup="true" 
    aria-expanded="false">
     Sort By
    </a>
    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
      <a class="dropdown-item" (click)="Sort('name','asc')">Name(A - Z)</a>      
      <a class="dropdown-item" (click)="Sort('name','desc')">Name(Z - A)</a>
      <a class="dropdown-item" (click)="Sort('score','asc')">Rank Asc </a>
      <a class="dropdown-item" (click)="Sort('score','desc')">Rank Desc</a>
    </div>
  </div>
  
  <div class="form-inline">
    <input
     class="form-control mr-sm-2" 
     type="text"
     [(ngModel)]="searchValue"
    >
    <button 
     class="btn btn-outline-success my-2 my-sm-0"
     type="button"
     (click)="onSearch()">
     Search
    </button>
  </div>
</nav>