
<div class="divAlign" *ngIf="!profile && !error">
  <h1>SEARCH GITHUB USER</h1>
     <h1>AND SORT THEM </h1>
     <h1>USING NAME AND RANK</h1>
    
</div>
<div class="divAlign" *ngIf="profile && !error">
    <h6>Total Results: {{profile.total_count}}</h6>
  <ng-container *ngIf="!sorttoggle">
    <div *ngFor="let item of PaginatedArray; let i =index"> 
      <div *ngIf="i <= 3">
          <div class="card cardWidth">
              <div class="card-body">
                  <div class="container">
                      <div class="row">
                        <div class="col-3">
                            <img [src]="item.avatar_url" 
                            alt="Avatar" 
                            style="width:200px">
                        </div>
                        <div class="col colPadding">
                          <h2 class="card-title">{{item.name}}</h2>
                          <p class="card-text cardTextMargin">Profile URL: {{item.html_url}}</p>
                          <p class="card-text cardTextMargin">Score: {{item.score}}</p>
                      <ng-container *ngIf="!detailButtonHide && (repoVar==item.repos_url)">
                            <button  
                            class="btn btn-outline-primary placeButton"
                            (click)="onCollapse(item.repos_url)">
                           Collapse
                          </button>
                     </ng-container>
                          <ng-container *ngIf="detailButtonHide && (repoVar!=item.repos_url)">
                            <button 
                              class="btn btn-outline-primary placeButton"
                              (click)="onDetails(item.repos_url)">
                            Details
                          </button>
                       </ng-container>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="card-footer text-muted" *ngIf="repoDetails && (repoVar==item.repos_url)">
                  <table class="table">
                      <tbody>
                        <tr *ngFor="let repo of profileRepo; let j=index">
                          <ng-container *ngIf="j<3">
                              <td>{{repo.name}}</td>
                              <td></td>
                              <td>{{repo.language}}</td>
                          </ng-container>                        
                        </tr>
                      </tbody>
                  </table>
                </div>
            </div>
            <br>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="sorttoggle">
      <ng-container *ngFor="let data of PaginatedsortArray; let i=index">
        <ng-container *ngFor="let item of profile.items">
          <div *ngIf="(data == item.name || data == item.score) && i<3">
              <div class="card cardWidth">
                  <div class="card-body">
                      <div class="container">
                          <div class="row">
                            <div class="col-3">
                                <img [src]="item.avatar_url" 
                                alt="Avatar" 
                                style="width:200px">
                            </div>
                            <div class="col colPadding">
                              <h2 class="card-title">{{item.name}}</h2>
                              <p class="card-text cardTextMargin">Profile URL: {{item.html_url}}</p>
                              <p class="card-text cardTextMargin">Score: {{item.score}}</p>
                              <ng-container *ngIf="!detailButtonHide && (repoVar==item.repos_url)">
                                <button  
                                class="btn btn-outline-primary placeButton"
                                (click)="onCollapse(item.repos_url)">
                               Collapse
                              </button>
                         </ng-container>
                              <ng-container *ngIf="detailButtonHide && (repoVar!=item.repos_url)">
                                <button 
                                  class="btn btn-outline-primary placeButton"
                                  (click)="onDetails(item.repos_url)">
                                Details
                              </button>
                           </ng-container>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div class="card-footer text-muted" *ngIf="repoDetails && (repoVar==item.repos_url)">
                      <table class="table">
                          <tbody>
                            <tr *ngFor="let repo of profileRepo; let j=index">
                              <ng-container *ngIf="j<3">
                                  <td>{{repo.name}}</td>
                                  <td></td>
                                  <td>{{repo.language}}</td>
                              </ng-container>                        
                            </tr>
                          </tbody>
                      </table>
                    </div>
                </div>
                <br>
          </div>
        </ng-container>
      </ng-container>
  </ng-container>
  <br>
    <div class="paginationAlign">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><button class="page-link" [disabled]="!showPrevious" (click)="updatePaging(false)">Previous</button></li>
                  <li class="page-item"><a class="page-link" >{{start}}</a></li>
                  <li class="page-item"><a class="page-link" >-</a></li>
                  <li class="page-item"><a class="page-link" >{{end}}</a></li>
                  <li class="page-item"><button class="page-link" [disabled]="!showNext" (click)="updatePaging(true)">Next</button></li>
                </ul>
              </nav>
    </div>      
</div>
<div class="divAlign" *ngIf=" error">
 <h1>OOPS MAXIMUM HIT TO GITHUB API REACHED PLEASE USE OAUTH AUTHENTICATED REQUEST TO GET RESULT </h1>
</div>

